.parent-custom {
  position: relative;
  width: max-content;
}

.custom-class::after {
  content: "";
  height: 2px;
  position: absolute;
  bottom: -4px;
  background-color: white;
  width: 0;
  display: block;
  transition: width 0.3s ease-in-out;
}

.custom-class:hover::after {
  width: 38px;
}

.custom-class.active::after {
  width: 38px;
}

.customLogin::after {
  content: "";
  height: 2px;
  position: absolute;
  bottom: 2px;
  background-color: #a022f5;
  width: 0;
  display: block;
  transition: width 0.3s ease-in-out;
}

.customLogin:hover::after {
  width: 50px;
}
